/ProyectoOmega/build/
/ProyectoOmega/dist/
/ProyectoOmegaCliente/dist/
/ProyectoOmegaRest/build/
/ProyectoOmegaRest/dist/
/ProyectoOmegaCliente/nbproject/private/
/ProyectoOmegaRest/nbproject/private/
/ProyectoOmegaWebServices/nbproject/private/
/ProyectoOmegaCliente/build/
/ProyectoOmegaWebServices/build/
/ProyectoOmegaWebServices/dist/